body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h2,
h3 {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
}
.nav-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-item {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}
.main-page {
  background-color: #2e2f42;
  color: #fff;
}
.page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-order {
  color: #fff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #fff;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.features-name,
.team-name,
.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text,
.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer .studio {
  color: #f4f4fd;
}
